* {
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 1.3em;
}

.flex-container {
  display: flex;
  flex-wrap: wrap-reverse;
  flex-direction: column-reverse;
  height: 300px;
  align-content: space-between;
}

.flex-item {
  width: 160px;
  height: 80px;
  margin: 1px;
  padding: 10px;
  background-color: purple;
  color: white;
  text-align: center;
}

.item1 {
  order: 1;
}

/* Add your code here */
