doctype html

html(lang='en')
  body
    table.table.table-striped
        tr
            th Name
            th Population
            th Capitals
        tr
        each country in data
            tr  
                td= country.name
                td= country.population
                td= country.capital